VITE_API_URL=http://localhost:8080/v1
VITE_APP_ENV=local
VITE_APP_NAME=Titlis
VITE_APP_LOGO_URL=
VITE_FAVICON_URL=/vite.svg
VITE_AUTH_MODE=okta
VITE_OKTA_ISSUER=https://trial-8891784.okta.com/oauth2/aus11ip021xOHyY1d698
VITE_OKTA_CLIENT_ID=REPLACE_ME
VITE_OKTA_AUDIENCE=api://titlis
VITE_OKTA_REDIRECT_URI=http://localhost:13000/login/callback
VITE_OKTA_POST_LOGOUT_REDIRECT_URI=http://localhost:13000/login
VITE_OKTA_TENANT_SLUG=jeitto
VITE_DEV_TENANT_ID=1
VITE_DEV_TENANT_SLUG=dev-tenant-1
VITE_DEV_TENANT_NAME=Tenant 1
VITE_DEV_USER_EMAIL=dev@titlis.local
VITE_DEV_USER_NAME=Dev Bypass
VITE_DEV_ROLES=titlis.admin
